@media(min-width:768px) {
	.left-border {
		border-left: 1px solid #eee;
	}
}

@media(min-width:768px) {
	.right-border {
		border-right: 1px solid #eee;
	}
}

.link-header {
	color: aliceblue;
	
}

.link-header:hover {
	color: aqua;
}

.oscurecer {
	background-color: rgba(97, 97, 97, 0.3)
}

a.disabled {
	pointer-events: none;
}